  body {
    background-color: orange;
    color: black;
    font-family: "Arial", sans-serif;
  }

  .container {
    margin-top: 50px;
  }

  .card {
    border-radius: 10px;
  }

  .card-body {
    padding: 30px;
  }

  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .btn-primary {
    background-color: orange;
    border-color: rgb(223, 148, 9);
  }

  .btn-primary:hover {
    background-color: darkorange;
    border-color: darkorange;
  }

  .btn-danger {
    background-color: crimson;
    border-color: crimson;
  }

  .btn-danger:hover {
    background-color: darkred;
    border-color: darkred;
  }

  .text-success {
    color: green;
    font-weight: bold;
  }

  .text-danger {
    color: red;
    font-weight: bold;
  }

  .error {
    color: red;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
